

a {
    text-decoration: none;
}

a:hover {
   color: blue;
}

body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: lightblue;
}


button {
    align-self: stretch;
    justify-self: stretch;
    border-radius: 10%;
    box-shadow: 1px 1px 1px black;
    outline: none;
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.heading{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-size: 2.5em;
}

.tribute{
    margin: 2em;
    font-size: 1.5em;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(2fr, 4fr) repeat(6, 1fr);
    width: 35vh;
    height: 45vh;
    align-items: center;
    justify-items: center;
    background-color: #074490;
    padding: 10px;
    border: solid black 2px;
    border-radius: 3%;
    row-gap: 10px;
    column-gap: 5px;

}

.grid-container > button {
    justify-self: stretch;
}

.display{
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    font-size: 2.5em;
    justify-self: stretch;
    text-align: right;
    background-color: silver;
    border: solid 1px;
    border: solid grey;
    border-width: .3em;
    border-radius: 5%;
}

.equals-btn {
    grid-column: 4 / 6;
    background-color: rgb(208, 75, 75);
    font-size: 2em;
}

.num-btn,
.decimal-btn {
    background-color: beige;
    font-size: 2em;
}

.multi-btn,
.divide-btn,
.clear-btn,
.minus-btn,
.plus-btn,
.square-root,
.percent {
    align-self: stretch;
    background-color: rgb(208, 75, 75);
    font-size: 2em;
}

